[Unit]
Description=System Connections Init Service
ConditionPathExists=/etc/connections/system-connections-init.sh
After=NetworkManager.service dnsmasq.service

[Service]
Type=oneshot
ExecStart=/etc/connections/system-connections-init.sh

[Install]
WantedBy=multi-user.target
