[Unit]
Description=Hardware Watchdog Service
ConditionPathExists=/etc/hwwatchdog/hwwatchdog.sh

[Service]
Type=forking
ExecStart=/etc/hwwatchdog/hwwatchdog.sh start
ExecStop=/etc/hwwatchdog/hwwatchdog.sh stop
TimeoutSec=0
StandardOutput=journal
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
